@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button , a , input , div , h1 ,h2 , h5,label,section{
    transition: .3s !important;
}
button:active , a:active{
    scale: .9;
}
.dark .card{
    color: #fff !important;
}
/* ////////////////////////////////////////////////// */
body.dark{
    background-color: #121212;
}
body.dark .card{
    box-shadow: -1px 1px 1px rgba(0,0,0,.16) , 1px 1px 1px rgba(0,0,0,.16);
    background-color: rgba(255,255,255,.05) !important;
    color: var(--title);
    border: 1px solid grey;
    margin: auto;
    transition: .5s;
    border-radius: 7.5px !important;
}
body.dark .card:hover{
    /* border: 1px solid #5dbcfc; */
    box-shadow: gray 0px 3px 0px 0px ;
}
body.dark .card button{
    background-color: #121212;
    border: 1px solid #333333;
    color: #fff;
}
body.dark .card button:hover{
    background-color: #333333;
}
.containr{
    width: 80%;
    margin: auto;
}
a{
    color: black;
}
button:active{
    scale: .75;
    transition: .5s ease-in-out;
}
/* NavBar */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    font-size: 1.2rem;
    border-bottom: 3px #0f3460 solid;
    padding: 0 !important;
    z-index: 100;
    width: 100%;
    height: 50px;
}
body.dark header{
    background-color: #121212;
    border-bottom: 3px solid gray;
} 
header .container,header .container div{
    height: 100%;
}
.title{
    font-size: 25px !important;
    font-weight: 700;
}
body.dark .title{
    color: #fff;
}
/* فكره حلوه بتاعت ايكون الهدير */

.nav ul {
    list-style: none;
    height: 100%;
    margin: 0 !important;
    align-items: center;
    padding: 0 !important;
}
.nav ul li a{
    font-weight: 500;
}
body.dark .nav ul li a{
    color: #fff !important;
}
.nav .icon-link span,.market-icon span{
    margin-left: -15px;
    margin-top: -18px;
    background-color: #0f3460;
    font-size: 12px;
    color: #fff;
    width: 15px !important;
    border-radius: 50%;
}
.icon-bag{
    color: #0f3460;
}
.dark .icon-bag{
    color: rgb(172, 172, 172);
}
.dark .nav .icon-link span,.dark .market-icon span {
    background-color: #333333 !important;  
}
.nav .icon-link{
    margin-top: -12.5px !important;
}
.market-icon{
    display: none;
}
header .dark-light{
    border: 1px solid rgba(255, 255, 255, .75);
    border-radius: 50%;
    width: 30px;
    height: 30px ;
    margin-top: 7.5px;
    margin-left: 22px;
}
.dark-light:active{
    scale: .8;
    transition: .7s;
}
.dark-light{
    transition: .5s;
    box-shadow: 0 1px 5px 0 rgb(236, 190, 104);
}
header .dark-light i{
    font-size: 22px;
}
.button-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray ;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: rgba(255, 255, 255, 0.548);
    transition: all .3s ease-in-out;
}
.dark .button-icon{
    background-color: #333333;
}
.dark .button-icon:hover{
    border:1px solid #ddd !important;
}
.dark .button-icon:hover svg{
    color: #fff !important;
}
.button-icon:hover{
    border: 1px solid rgba(255, 166, 0, 0.315);
}
.button-icon svg , .button-icon .sun{
    transition: .3s;
    color: gray;
}
.button-icon:hover .sun , .button-icon:hover .sun{
    color: darkgoldenrod !important;
}
.dark .navbar-toggle{
    color: rgb(172, 172, 172) !important;
}
/* side Bar */
.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    z-index: 10000;
    will-change: transform;
}
body.dark .sideBar{
    background-color: #121212;
    color: #fff;
}
.sideBar .icon{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.dark .sideBar .icon button .close-icon{ 
    color: #fff !important;
}
.sideBar button{
    background-color: transparent;
    border: none;
}
.sideBar .icon button .close-icon{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s ease-in-out;
}
.sideBar .icon button .close-icon:hover{
    color: crimson;
    transform: rotate(180deg);
    font-size: 1.7rem;
}
.side-nav ul{
    flex-direction: column !important;
    list-style: none;
    margin-top:50px ;
    align-items: start !important;
}
.side-nav ul li{
    width: 100%;
    margin-bottom: 3px;
}
.side-nav ul li:hover,.side-nav li.active-link{
    background-color:rgb(159, 194, 238);
}
.dark .side-nav ul li:hover,.dark .side-nav li.active-link{
    background-color: #333333;
}
.side-nav ul li a{
    text-align: start !important;
}
.dark .side-nav ul li a{
    color:#fff;
}
.login , .register{
    background-color: none !important;
}
@media(max-width:767px){
    .navbar-toggle{
        display: block !important;
    }
    .nav{
        display: none;
    }
}
/* ------------------------------- slider section ------------------------------------*/
.slider-home{
    margin-top: 0%;
    background-color:  #f6f9fc;
    padding-bottom: 50px;
}
.dark .slider-home{
    background-color: #1e1e1e;
    color: #fff;
}
.slider-card{
    margin-top: 80px;
}
.card-info{
    margin-top: 50px;
    margin-bottom: 25px;
}
.slider-card h1{
    font-size: 40px ;
    line-height: 48px ;
    margin-bottom: 20px;
}
.slider-card p{
    font-size: 18px;
    margin: 20px 0;
}
.dark .slider-card p{
    color: gray;
}
.slider-card a{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0f3460;
    color: #fff;
    transition: .3s ease-in-out;
}
.dark .slider-card a{
    background-color: gray;
}
.slider-card a:hover{
    color: black;
    background-color: #fff;
}
/* wrapper section */
.wrapper{
    margin-top: 60px !important;
}
.service-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    background-color: #fff;
    font-size: 24px;
}
.service{
    width: 115% !important;
}
.product-title{
    height: 50px;
}
/* discount section */
.discount{
    background-color: #f6f9fc;
    padding-top: 30px;
    padding-bottom: 17.5px;
    margin-top: 35px;
}
.best-sales , .arrivals{
    padding-top: 30px;
    padding-bottom: 17.5px;
}
.dark .discount , .dark .best-sales{
    background-color: #1e1e1e !important;
    color: #fff;
}
.dark .arrivals{
    background-color: #121212 !important;
    color: #fff;
}
.discount-products .card{
    padding: 10px ;
    background-color: #fff !important;
    transition: all .25s ease-in-out;
}
.discount-products .card:hover,.cart-empty:hover{
    box-shadow: #0f3460 0px 3px 0px 0px ;
}
.dark .discount-products .card:hover,.dark .cart-empty:hover{
    box-shadow:  0px 3px 0px 0px grey !important;
}
.discount-prod{
    position: relative;
}
.discount-prod p{
    background-color: #0f3460;
    padding: 0 5px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.dark .discount-prod p{
    background-color: gray;
}
.discount-prod path{
    opacity: 0;
    transition: all .5s ease-in-out !important;
    cursor: pointer;
}
.discount-products .card:hover .discount-prod path{
    opacity: 1;
}
.price-add button{
    background-color: #fff;
    border: #ddd 1px solid;
    color: #0f3460;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.dark .price-add button{
    background-color: #333333 !important;
    color: gray !important;
    border: 1px solid grey !important;
}
.price-add button:hover{
    background-color: #0f3460;
    color: #fff;
    border: #0f3460;
}
.dark .price-add button:hover{
    color: #333333 !important;
    background-color: gray !important;
}
.price-add p{
    font-size: 20px ;
    font-weight: 500;
}
.prod-info img , .prod-info h5{
    cursor: pointer;
}
/* footer section */
.footer{
    background-color: #0f3460;
    color: white;
}
.dark .footer{
    background-color: #333333;
}
.footer p ,.footer a{
    color: white;
    opacity: .5;
}
.bag-icon{
    font-size: 25px;
}
/* cart section */
.cart{
    background-color: #f6f9fc;
    padding-top: 50px;
}
.dark .cart{
    background-color: #1e1e1e;
}
.added-prod {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
}
.dark .added-prod{
    background-color: #131313;
    border: 1px solid #13131371;
    color: #fff;
}
.checkout .card{
    border: none !important;
}
.check-out div,.cart-empty{
    width: 97%;
    background-color: #fff;
    height: 150px;
}
.dark .check-out div , .dark .cart-empty ,.dark .checkout .card{
    background-color: #131313 !important;
    box-shadow: none !important;
}
.checkout div h6, .checkout div .totalPrice{
    color: #0f3460;
}
.dark .checkout div h6,.dark .checkout div .totalPrice,.dark .cart-empty,.dark .plus{
    color: grey !important;
}
.cart-empty{
    color: #0f3460;
    transition: .25s ease-in-out;
}
.prod-info ,.card-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.icon-close{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 20px;
}
.dark .icon-close{
    color: #fff;
}
.plus{
    color: #0f3460;
}
.plus , .minus{
    font-size: 22px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 8px;
    border-radius: 5px;
}
.minus{
    background-color: #f6f9fc;
}
.dark .plus{
    background-color: #131313;
    border: 1px solid grey;
    color: rgb(161, 161, 161);
}
.dark .minus{
    background-color: #1e1e1e;
    border: 1px solid grey;
    color: #fff;
}
.total-price-prod,.check-out div .totalPrice , .check-out div h6,.cart-empty{
    font-size: 20px;
    color: #0f3460;
    font-weight: 500;
}
.dark .total-price-prod,.dark .check-out div .totalPrice ,.dark .check-out div h6,.cart-empty{
    color: rgb(167, 167, 167);
}
.button-checkout{
    background-color: rgb(15, 52, 96);
    color:#fff
}
.dark .button-checkout{
    background-color: grey;
}
.button-checkout:hover{
    background-color: rgba(15,52,96,.95);
    color:#fff
}
.dark .button-checkout:hover{
    background-color: rgba(128, 128, 128, 0.678);
}
/* banner */
.background{
    background-image: url(/src/Images/2862666.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
}
.overlay h2{
    font-size: 50px;
    font-weight: 700;
    margin: 60px 0 !important;
}
/* shop section */
.filter{
    margin-top: 60px;
}
.dark .filter{
    color: #fff;
}
.search , .write-review{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 7.5px 20px;
}
.dark .search, .dark .write-review , .dark .search input , .dark .write-review input{
    background-color: #333;
    color: #fff;
}
.dark input::placeholder{
    color: rgb(177, 177, 177) !important;
}
.search input , .write-review input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
.search path{
    font-weight: 100 !important;
}
.select{
    position: relative;
}
.sele{
    width: 215px;
    height: 40px;
    border-radius: 5px;
    background-color: #0f3460;
    color: #fff;
    cursor: pointer;
}
.dark .sele ,.dark .dropdown button:hover ,.dark .dropdown button.active{
    background-color: gray;
}
.sele:active{
    scale: .9;
    transition: .4s ease-in-out;
}
.sele-btn{
    padding: 0px 15px ;
    margin: 7.5px 0;
    color: #fff;
    border: none;
    background-color: transparent;
}
.sele-btn:active , .dropdown button:active{
    scale: 1;
}
.sele div{
    height: 100%;
}
.sele div span{
    border-right: 1px solid white;
    height: 27.5px;
}
.sele-icon{
    padding-right: 12.5px ;
    padding-left: 10px;
}
.dropdown{
    position: absolute;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #3333;
    top: 50px;
    transition: .15s ease-in-out;
    display: none;
}
.dark .dropdown button{
    background-color: #333333;
    color: rgb(173, 172, 172);
}
.dropdown button{
    display: block;
    border: none;
    background-color: white;
    color: #0f3460;
    width: 275px;
    padding: 10px;
    text-align: start;
    transition: .15s ease-in-out;
}
.dropdown button:hover , .dropdown button.active{
    background-color: #0f3460;
    color: white;
}
.css-1nmdiq5-menu{
    margin-top: -10px !important;
    width: 300px !important;
}
/* show product section  */
.product-details,.desc-rev{
    margin-bottom: 100px;
}
.dark .product-details,.dark .desc-rev{
    color: #fff  !important;
}
.dark .product-details span,.dark .product-details p,.dark .desc-rev p{
    color: rgb(167, 166, 166);
}
.product-info h5{
    font-size: 30px ;
    margin-bottom: 20px;
}
.product .product-price{
    font-size: 25px;
    font-weight: 500;
}
.dark .product-price{
    color: #fff !important;
}
.product span{
    color: rgba(0, 0, 0, 0.85);
}
.product input{
    width: 80px ;
    padding: 2.5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none !important;
    margin-top: 20px;
    margin-bottom: 8px;
}
.dark .product input[type="number"]{
    background-color: #161616 !important;
    color: #fff;
    border: 1px solid #ddd;
}
.product-info button ,.page-not-found a{
    color: #fff;
    background-color: rgb(15, 52, 96);
}
.dark .product-info button{
    background-color: gray;
}
.product button:hover ,.page-not-found a:hover{
    background-color: rgba(15,52,96,.95);
    color: #fff;
}
.dark .product-info button:hover{
    background-color: rgba(128, 128, 128, 0.685);
}
.prod-rev{
    display: none;
}
.buttons-desc-rev span{
    font-size: 18px;
    font-weight: 500;
    color: #a09f9f;
    cursor: pointer;
}
.buttons-desc-rev .active{
    color: black;
}
.dark .buttons-desc-rev .active,.dark .prod-rev p strong{
    color: #fff;
}
.other-product h2{
    font-size: 30px;
}
.dark .other-product h2{
    color: #fff;
}
.write-review{
    background-color: #fff;
    border: 1px solid gray;
    padding: 5px 10px;
    width: 60%;
}
.write-review input{
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    width: 100%;
}
.write-review button{
    background-color: transparent;
    border: none;
}
.dark .write-review button,.dark .write-review button:hover{
    color: #fff;
}
.write-review button:hover{
    background-color: transparent;
    color: #000;
}
/* checkout */
.dark select{
    background-color: #121212;
    color: #fff;
    border: 1px solid grey;
}
.dark select:focus{
    box-shadow: none;
}
/* loader & page not found*/
.loader,.page-not-found{
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f9fc;
}
.dark .loader , .dark .page-not-found{
    background-color: #121212 !important;
}
.dark .loader .bolit-loader{
    color: gray !important;
    background-color: gray !important;
}
.page-not-found{
    height: 95.5vh;
}
.page-not-found h2{
    color: #0f3460;
    font-size: 40px;
}
.dark .page-not-found h2{
    color: gray;
}
.page-not-found a{
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
}
.dark .page-not-found a{
    background-color: gray;
}
.dark .page-not-found a:hover{
    background-color: rgba(128, 128, 128, 0.692);
}
/* ------------------------------- login & regiseter ----------------------------------- */
#login , #register , #check ,#profile,#success{
    background-color: #f6f9fc;
    padding-top: 100px  ;
    padding-bottom: 60px;
}
.dark #login , .dark #register , .dark #check ,.dark #profile,.dark #success{
    background-color: #1e1e1e;
}
.dark #check{
    color: #fff;
}
.login,.register,.profile-container,.success-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.dark .login ,.dark .register,.dark .profile-container,.dark .success-container{
    background-color: #121212;
    color: #fff;
}
.dark .login input,.dark .register input ,.dark #check input{
    background-color: #121212;
    color: #fff;
    border: 1px solid grey;
}
.dark .login input:focus,.dark .login input:hover,.dark .register input:focus,.dark .register input:hover,
.dark #check input:focus , .dark #check input:hover ,.dark select:focus{
    border: 1px solid rgb(45 , 212 , 191);
}
.login input:focus  ,.login input:hover, .register input:focus,.register input:hover,#check input:focus ,#check input:hover {
    box-shadow: none !important;
    border: 1px solid #7fb3f3;
}
.link-login , .link-register{
    color: #0f3460;
}
.dark .link-login ,.dark .link-register{
    color: rgb(172, 172, 172);
}
.btn-link,.cotinue-check{
    background-color: #0f3460;
    color: white;
    text-decoration: none !important;
    margin-bottom: 7px;
}
.dark .btn-link,.dark .cotinue-check{
    background-color: grey;
}
.dark .btn-link:hover,.dark .cotinue-check:hover{
    background-color: rgba(128, 128, 128, 0.671);
}
.btn-link:hover,.cotinue-check:hover{
    color: #fff !important;
    background-color: rgba(15,52,96,.9);
}
.userName{
    text-transform: capitalize;
}

/* ------------------------------------- Profile , oreder success --------------------------------------- */
  .profile-container h2 ,.success-container h2{
    color: black;
    margin-bottom: 10px;
    font-size: 26px;
  }
  .dark .profile-container h2 , .dark .success-container h2{
    color: #fff;
  }
  .profile-container p ,.success p{
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .logout-btn , .back-btn{
    background-color: #0f3460;
    color: #fff;
    border: none;
    padding: 7px 24px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition:  0.3s;
    width: 100%;
  }
  .dark .logout-btn,.dark .back-btn{
    background-color: grey;
  }
  .logout-btn:hover , .back-btn:hover{
    background-color: #0f3360de;
  }
  .dark .logout-btn:hover,.dark .back-btn:hover{
    background-color: rgba(128, 128, 128, 0.685);
  }
/* ----------------------------------- media query (response) ---------------------------*/
@media(max-width:767px){
    .market-icon{
        display: flex;
        gap: 5px;
    }
    .nav .icon-link{
        display: none;
    }
    .check-out div{
        width: 100%;
    }
    .filter div{
        order: 1;
        margin: auto;
        margin-bottom: 15px;
    }
    .filter .select{
        order: 2;
    }
    .sele{
        position: relative;
    }
    .sele div{
        position: absolute;
        right: 0;
        top: 0;
    }
    .sele-icon{
        padding-left: 15px;
    }
    .write-review{
        width: 80%;
    }
    #check{
        padding-bottom: 18px;
    }
    .checkout{
        padding-top: 15px;
    }
    
}
@media(max-width:576px){
    .added-prod{
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }
    .card-icons P{
        display: none !important;
    }
    .checkout{
        margin-top: 1rem  !important;
        margin-bottom: 1rem !important;
        margin: auto !important;
    }
    .login,.register{
        width: 80%;
    }
    .write-review{
        width: 100%;
    }
    .profile-container,.success-container{
        width: 80%;
    }
}